* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* Safari and Chrome */
    -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
#side-menu {
    position: fixed;
    top: 0;
    right: -388px;
    width: 388px;
    height: 100vh;
    background-color: #DDDDDDC9;
    transition: right 0.3s ease-in-out;
    z-index: 100;
    display: flex;
    justify-content: start;
    align-items: center;
}

@media (max-width: 1024px) {
    #side-menu {
        right: -313px;
        width: 313px;
    }
}

#side-menu.open {
    right: 0;
}